.wrap .wapuugotchi_log {
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	padding: 24px;
	background: white;

	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}
.wrap .wapuugotchi_log h1 {
	margin-bottom: 20px;
}

.wrap .wapuugotchi_log .wapuugotchi_log__items {
	width: 100%;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.wrap .wapuugotchi_log .wapuugotchi_log__item {
	padding: 10px 25px;
	border-radius: 15px;
	margin: 10px;
	position: relative;
	min-width: 250px;
	max-width: 380px;
}

.wrap .wapuugotchi_log .wapuugotchi_log__active {
	background-color: white;
	border: solid 2px #00a32a;
}
.wrap .wapuugotchi_log .wapuugotchi_log__active h2 {
}

.wrap .wapuugotchi_log .wapuugotchi_log__active img {
}

.wrap .wapuugotchi_log .wapuugotchi_log__completed {
	background-color: white;
	border: solid 2px #888;
	color: #888;
}

.wrap .wapuugotchi_log .wapuugotchi_log__completed h2 {
	margin-bottom: 0;
	color: #888;
}

.wrap .wapuugotchi_log .wapuugotchi_log__completed img {
	filter: invert(58%) sepia(6%) saturate(8%) hue-rotate(331deg) brightness(91%) contrast(92%);
}

.wrap .wapuugotchi_log .wapuugotchi_log__completed p {
	margin-top: 5px;
}

.wrap .wapuugotchi_log span {
	position: absolute;
	right: 10px;
	top: 10px;

}
