.wapuu_shop {
	padding: 24px;
	background-color: #fff;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	min-width: 695px;

	form {
		display: flex;
		margin-top: 24px;

		.wapuu_shop__items {
			flex: 2;
		}
	}
}
