.wapuugotchi_quiz__cloud {
	display: inline-block;
	width: 210px;
	height: 70px;
	border-radius: 100px / 50px;
	background-color: white;

	text-align: center;

	margin-top: 100px;

	position: relative;

	&::before {
		width: 84px;
		height: 70px;
		border-radius: 50%;
		background-color: white;

		line-height: 75px;
		text-align: center;

		position: absolute;
		content: "";
		top: -35px;
		left: 84px;
	}

	&::after {
		width: 70px;
		height: 42px;
		border-radius: 50%;
		background-color: white;

		line-height: 75px;
		text-align: center;

		position: absolute;
		content: "";
		top: -14px;
		left: 42px;
	}
	span {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
		z-index: 1;
		margin-left: 20px;
		margin-right: 20px;
		height: 100%;
	}

	&:nth-child(1) { top: 100px; }
	&:nth-child(2) { top: 0px; }
	&:nth-child(3) { top: 100px; }


	@media (max-width: 960px) {
		display: none;
	}

}
