body {

	&.wp-admin {
		overflow: hidden;
	}


	#wapuugotchi_quiz__overlay {
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		position: fixed;
		z-index: 100000;
		pointer-events: all;
		background-color: rgba(0, 0, 0, 0.5);

		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;

		&.unlocked {
			pointer-events: none;
		}
	}

	#wpwrap {

		#wapuugotchi__avatar {
			display: none;
		}
	}
}
