body {
	#wapuugotchi_quiz__overlay {
		top: 32px;
		bottom: 0;
		right: 0;
		left: 0px;
		position: fixed;
		z-index: 100000;
		pointer-events: all;
		background-color: rgba(0, 0, 0, 0.5);

		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;

		&.unlocked {
			pointer-events: none;
		}

		@media (max-width: 782px) {
			top: 46px; // Setzen Sie top auf 100px, wenn die Bildschirmbreite 700px oder weniger beträgt
		}

	}

	#wpwrap {

		#wapuugotchi__avatar {
			display: none;
		}
	}
}
