.wapuugotchi__bubble {
	position: relative;
	background: #fff;
	border-radius: 0.4em;
	border-style: solid;
	border-width: 2px;
	border-color: #c3c4c7;
	padding: 4px 8px;
	font-size: 12px;
	white-space: break-spaces;
	margin: 0 10px -15px 10px;
}

.wapuugotchi__bubble::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-top-color: #c3c4c7;
	border-bottom: 0;
	border-right: 0;
	margin-left: -20px;
	margin-bottom: -17px;
}

.wapuugotchi__bubble::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-top-color: #fff;
	border-bottom: 0;
	border-right: 0;
	margin-bottom: -13px;
	margin-left: -21.5px;
}

.info_bubble.wapuugotchi__bubble {
	border-color: #72aee6;
}

.info_bubble.wapuugotchi__bubble::before {
	border-top-color: #72aee6;
}

.success_bubble.wapuugotchi__bubble {
	border-color: #00a32a;
}

.success_bubble.wapuugotchi__bubble::before {
	border-top-color: #00a32a;
}

.error_bubble.wapuugotchi__bubble {
	border-color: #d63638;
}

.error_bubble.wapuugotchi__bubble::before {
	border-top-color: #d63638;
}

.warning_bubble.wapuugotchi__bubble {
	border-color: #dba617;
}

.warning_bubble.wapuugotchi__bubble::before {
	border-top-color: #dba617;
}


@keyframes "wapuugotchi-svg__fade_in_lazy" {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.wapuugotchi__bubble.fade_in_lazy {
	-webkit-animation: wapuugotchi-svg__fade_in_lazy 0.5s ease-in-out 2s both;
	animation: wapuugotchi-svg__fade_in_lazy 0.5s ease-in-out 2s both;
}
