.wapuugotchi_missions__description {
	padding: 16px 32px;

	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #465a75;
	}

	.wapuugotchi_missions__headline {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: nowrap;
	}
}
