#wapuugotchi_missions {
	background-color: #fff;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	padding: 24px;

	&.wapuugotchi_missions__page {
		background-color: #fff;
	}

	&li.wapuugotchi_mission__reset > * {
		color: #FF6347FF !important;

		&:hover {
			color: #FFA07AFF !important;
		}
	}
}
