.wapuugotchi_missions__pearls {
	background: #fff8f0;
	border-color: #ff8a00;
	border-style: solid;
	border-width: 1px;
	align-items: center;
	align-self: center;
	border-radius: 999px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .06);
	color: #2c3338;
	display: inline-flex;
	font-size: 12px;
	gap: 6px;
	padding: 8px 14px;
	white-space: nowrap;

}

.wapuugotchi_missions__pearls span img {
	margin-left: 2px;
}

.wapuugotchi_missions__pearls.reward-transferred span {
	background: #f4fff7;
	border-color: #00a32a;
	color: #145214;
}
