.wapuugotchi_missions__step {
	color: #0063a1;
	width: 100%;

	.wapuugotchi_missions__step_bar {
		height: 12px;
		background-color: #cce3eb;
		border-radius: 100px/75px;
		display: block;
		margin: 0 2px;
	}

	.wapuugotchi_missions__step_name {
		cursor: default;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 16px;
	}

	&.completed {

		.wapuugotchi_missions__step_name {
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			margin-bottom: 16px;
			text-decoration: line-through;
		}

		.wapuugotchi_missions__step_bar {
			background-color: #0063a1;
		}
	}
}
