/* Animation */
/* Tail */
#Tail--group {
    -webkit-animation: wapuugotchi-svg__tail-animation1 90s ease-in-out infinite both;
    animation: wapuugotchi-svg__tail-animation1 90s ease-in-out infinite both;
}

@keyframes wapuugotchi-svg__tail-animation1 {
    0%, 100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    1% {

        -webkit-transform: translateX(-6px) rotate(1.2deg);
        transform: translateX(-6px) rotate(1.2deg);
    }
    2% {

        -webkit-transform: translateX(6px) rotate(-1.2deg);
        transform: translateX(6px) rotate(-1.2deg);
    }
    3% {

        -webkit-transform: translateX(-6px) rotate(1.2deg);
        transform: translateX(-6px) rotate(1.2deg);
    }
    4.5% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    20% {
        -webkit-transform: translateX(3px) rotate(-0.6deg);
        transform: translateX(3px) rotate(-1.2deg);
    }
    22% {
        -webkit-transform: translateX(-3px) rotate(0.6deg);
        transform: translateX(-3px) rotate(1.2deg);
    }
    24% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

/* Left Ear */
#LeftEar--group {
    -webkit-animation: wapuugotchi-svg__left-ear-animation1 45s infinite 10s both;
    animation: wapuugotchi-svg__left-ear-animation1 45s infinite 10s both;
}

@keyframes wapuugotchi-svg__left-ear-animation1 {
    0%, 0.2%, 0.4%, 100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    0.1%, 0.3% {
        -webkit-transform: translateY(-51px) translateX(-2px) rotate(12deg);
        transform: translateY(-51px) translateX(-2px) rotate(12deg);
    }
}

/* food */


#RightFoot--group {
    -webkit-animation: wapuugotchi-svg__right-food-animation1 50s infinite 17s both;
    animation: wapuugotchi-svg__right-food-animation1 50s infinite 17s both;
}

#LeftFoot--group {
    -webkit-animation: wapuugotchi-svg__left-food-animation1 50s infinite 17s both;
    animation: wapuugotchi-svg__left-food-animation1 50s infinite 17s both;
}

@keyframes wapuugotchi-svg__right-food-animation1 {
    0%, 4%, 8%, 12%, 16%, 20%, 100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    2%, 6%, 10%, 10% {
        -webkit-transform: translateY(2px) translateX(46px) rotate(10deg);
        transform: translateY(2px) translateX(46px) rotate(10deg);

    }
}

@keyframes wapuugotchi-svg__left-food-animation1 {
    0%, 4%, 8%, 12%, 16%, 20%, 100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    2%, 6%, 10%, 10% {
        -webkit-transform: translateY(27px) translateX(-44px) rotate(-10deg);
        transform: translateY(27px) translateX(-44px) rotate(-10deg);
    }
}

/* End of Animation */
