.wapuu_card {
    position: relative;
    min-width: 350px;
    display: flex;
    flex: 3;
}

.wapuu_card .wapuu_card__categories {}

.wapuu_card .wapuu_card__items {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 120px;
    max-width: 600px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow-y: auto;
}
.wapuu_card .wapuu_card__items .wapuu_card__item {
    position: relative;
    width: 170px;
    margin: 0px 8px 16px 8px;
}

.wapuu_card .wapuu_card__items .wapuu_card__item img.wapuu_card__item_img {
    width: 100%;
    background-color: #fafafa;
    user-select: none;
    pointer-events: none;
}

.wapuu_card .wapuu_card__items .wapuu_card__item.selected img.wapuu_card__item_img {
    background-color: #CCE3EB;
}


.wapuu_card .wapuu_card__items .wapuu_card__item.wapuu_card__locked::before {
    content: "\f160";
    position: absolute;
    font: normal 25px/1 dashicons;
    color: black;
    opacity: 0.2;
}


.wapuu_card .wapuu_card__items .wapuu_card__item .wapuu_card__item_pricetag {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #4AB866;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.wapuu_card .wapuu_card__items .wapuu_card__item .wapuu_card__item_pricetag img {
    padding-right: 5px;
}
