.wapuu_card {
    margin-top: 30px;
    min-height: 150px;
    display: flex;
}
.wapuu_card .wapuu_card__categories {
    background-color: white;
    width: 80px;
    padding: 10px 0;
}
.wapuu_card .wapuu_card__items {
    width:400px;
    padding: 5px 0;
    margin-left: 50px;
    overflow: scroll;
    column-count: 2;
    height: 600px;
}
.wapuu_card .wapuu_card__item {
    height: 150px;
    margin-top: 5px;
    width: 150px;
    margin-left: 10px;
    background-color: #fafafa;
    padding: 2px 10px;
    margin-bottom: 20px;
    float: left;
    display: flex;
    position: relative;
}
.wapuu_card .wapuu_card__locked::before {
    content: "\f160";
    position: absolute;
    font: normal 25px/1 dashicons;
    color: black;
    opacity: 0.2;
}
.wapuu_card .wapuu_card__item.selected {
    background-color: #F0F6FC;
}
.wapuu_card .wapuu_card__item_img {
    user-select: none;
    pointer-events: none;
    margin: auto;
    height: 120px;
}
.wapuu_card .wapuu_card__item_text {
    margin-left: 10px;
}

.wapuu_card__item_tooltiptext {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    display: -webkit-box;
    margin: auto;
    text-align: center;
}
.wapuu_card__item_tooltiptext span{
    margin: auto;
    display: block;
    padding: 5px;
}

.wapuu_card .wapuu_card__locked:hover .wapuu_card__item_tooltiptext {
    visibility: visible;
}

.wapuu_card__items hr {
    width: 100%;
    border: none;
    margin: 0;
}