.wapuu_card .wapuu_card__categories .wapuu_card__category {
    width: 72px;
    height: 72px;
	padding: 12px;
    margin: 0 32px 12px 0;
	background: #007CBA;
}
.wapuu_card .wapuu_card__categories .wapuu_card__category > * {
    pointer-events: none;
}
.wapuu_card .wapuu_card__categories .wapuu_card__category.selected {
    position: relative;
	background: #0063A1;
}
.wapuu_card .wapuu_card__categories .wapuu_card__category.selected::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #0063A1;
    border-width: 12px 0 12px 13px;
    top: 50%;
    right: -13px;
    margin-top: -12px;
}
.wapuu_card .wapuu_card__categories .wapuu_card__category img.wapuu_category__image {
    width: 72px;
    height: 72px;
}