.wapuu_card .wapuu_card__category {
    margin-top: 5px;
    margin-left: 30px;  
    padding: 5px 15px;
    background-color: #3858E9;
    width: 60px;
    height: 60px;
    border-radius: 3px;
}.wapuu_card .wapuu_card__category.selected {
     background-color: #3858E9;
     position: relative;
}.wapuu_card .wapuu_card__category.selected > img {
      margin-left: 2px;
}
.wapuu_card .wapuu_card__category > * {
    pointer-events: none;
}
.wapuu_card .wapuu_card__category > img {
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
    filter: invert(99%) sepia(73%) saturate(84%) hue-rotate(191deg) brightness(109%) contrast(87%);
}

