.wapuu_card {

	.wapuu_card__categories {

		.wapuu_card__category {
			width: 72px;
			height: 72px;
			padding: 12px;
			margin: 0 32px 12px 0;
			background: #007cba;

			> * {
				pointer-events: none;
			}

			&.selected {
				position: relative;
				background: #0063a1;

				&::after {
					content: "";
					position: absolute;
					display: block;
					width: 0;
					z-index: 1;
					border-style: solid;
					border-color: transparent #0063a1;
					border-width: 12px 0 12px 13px;
					top: 50%;
					right: -13px;
					margin-top: -12px;
				}
			}

			> .wapuu_category__image {
				width: 72px;
				height: 72px;
			}
		}
	}
}
