.wapuu_card {
	.wapuu_card__items {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 120px;
		max-width: 600px;
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: center;
		overflow-y: auto;

	}
}
