.wapuu_shop {
    min-width: 615px;
    padding: 24px;
    background-color: white;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.wapuu_shop .wapuu_shop__header {}
.wapuu_shop .wapuu_shop__header h1.wapuu_shop__title {}
.wapuu_shop .wapuu_shop__header span.wapuu_shop__divider {}
.wapuu_shop .wapuu_shop__header p.wapuu_shop__description {}
.wapuu_shop .wapuu_shop__header span.wapuu_shop__pearls {}

.wapuu_shop form {
    display: flex;
	margin-top: 24px;
}
.wapuu_shop form .wapuu_shop__items {
    flex: 1;
}
.wapuu_shop form .wapuu_shop__items .wapuu_shop__input {}
.wapuu_shop form .wapuu_shop__items .wapuu_shop__image {}
.wapuu_shop form .wapuu_shop__items .wapuu_shop__button {}


.wapuu_shop__pearls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 3px 6px;
	gap: 6px;

	width: 188.22px;
	height: 22px;

	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;

	background: #4AB866;
	border-radius: 2px;
}

.wapuu_shop__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 12px;

	min-width: 1178px;
	height: 28px;
}

.wapuu_shop__title {
	min-width: 396px;
	height: 28px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;

	display: flex;
	align-items: center;

	color: #1E1E1E;
}

.wapuu_shop__divider {
	width: 22px;
	height: 0px;

	border: 1px solid #CCCCCC;
	transform: rotate(90deg);
}

.wapuu_shop__description {
	width: 557.78px;
	height: 20px;

	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;

	display: flex;
	align-items: center;

	color: #757575;
}

