.wapuu_shop {
    min-width: 615px;
    padding: 24px;
    background-color: white;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.wapuu_shop .wapuu_shop__header {}
.wapuu_shop .wapuu_shop__header h1.wapuu_shop__title {}
.wapuu_shop .wapuu_shop__header span.wapuu_shop__divider {}
.wapuu_shop .wapuu_shop__header p.wapuu_shop__description {}
.wapuu_shop .wapuu_shop__header span.wapuu_shop__pearls {}

.wapuu_shop form {
    display: flex;
}
.wapuu_shop form .wapuu_shop__items {
    flex: 1;
}
.wapuu_shop form .wapuu_shop__items .wapuu_shop__input {}
.wapuu_shop form .wapuu_shop__items .wapuu_shop__image {}
.wapuu_shop form .wapuu_shop__items .wapuu_shop__button {}
