.wapuu_shop {
    display: flex;
  align-items: stretch;
}

.wapuu_shop form button.button.button-primary {
    width: 200px;
    margin: 0 10px;
}

.wapuu_shop form {
    background: white;
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center
}
.wapuu_shop__input {
    padding-top: 35px;
    height: 80px;
}

.wapuu_shop__button {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wapuu_shop__image {
    display: flex;
    padding-top: 10%
    /* height: 100%; */
}

.wapuu_shop__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    width: 400px;

    /* for demonstration purposes */
    height: 90%;

}
 
input {
    width: 450px;
    padding-top: 60px;
}
.wapuu_shop__items > div:not(:only-child):last-of-type {
    margin-top: auto;
  }

.wapuu_shop__name {
    margin-top: 5px;
    width: 400px;
    height: 50px;
}
 .wapuu_shop__submit {
    height: 60px !important;
    width: 380px !important;

}
.wapuu_shop__reset {
    height: 60px !important;
    width: 380px  !important;
}