.wapuu_show_room {
    display: flex;
    height: 100%;
    padding-left: 100px;
}

.wapuu_show_room .wapuu_show_room__image {
    max-width: 25%;
    width: 250px;
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
}

