/* Feed styles */
.wapuugotchi-iframe-placeholder {
	cursor: pointer;
	position: relative;
	margin: 4px 0;

	> img {
		width: 100%;
		height: auto;
		display: block;
	}

	> iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

