.wapuugotchi_onboarding__guide {
	bottom: 0;
	height: 250px;
	left: 160px;
	right: 160px;
	position: absolute;
	text-align: center;

	.wapuugotchi_onboarding__guide_text {
		bottom: 20px;
		display: inline-block;
		height: 90px;
		margin-left: 110px;
		position: absolute;
		width: 525px;
		z-index: 1;
		text-align: left;

		p {
			user-select: none;
		}
	}


}

@media (max-width: 960px) {

	.wapuugotchi_onboarding__guide {
		left: 36px;
		right: 36px;
	}
}

@media (max-width: 782px) {

	.wapuugotchi_onboarding__guide {
		left: 0;
		right: 0;
	}
}

@media (max-width: 575px) {

	svg {
		display: none;
	}

	.wapuugotchi_onboarding__guide {

		.wapuugotchi_onboarding__guide_text {


			display: block;
			background-color: #fff;
			height: 97px;
			width: unset;
			left: 10px;
			right: 10px;
			bottom: 6px;
			margin: auto;
			border: 1.5px solid #000;

			p {
				margin: 7px 12px;
			}
		}
	}
}
