.wapuugotchi_onboarding_guide__footer {
	align-content: center;
	display: flex;
	height: 30px;
	justify-content: center;
	margin: 0 0 24px;
	position: relative;
	width: 100%;
	button {
		position: absolute;
		color: #1386bf;
		font-weight: 700;
		height: 30px;
		right: 22px;
	}
}
