.wapuugotchi_onboarding__guide {

	overflow: auto;
	animation: wapuugotchi-onboading__appear-animation .1s ease-out;
	animation-fill-mode: forwards;
	width: min-content;
	height: 80vh;
	max-height: 575px;
	min-width: 312px;
	margin: auto;
	max-width: calc(100% - 32px);

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background: #fff;

	border: none;
	border-radius: 2px;
	box-shadow:
		0px 0px 2px 105vw rgba(0, 0, 0, 0),
		0 0.7px 1px rgba(0,0,0,.15),
		0 2.7px 3.8px -0.2px rgba(0,0,0,.15),
		0 5.5px 7.8px -0.3px rgba(0,0,0,.15),
		0.1px 11.5px 16.4px -0.5px rgba(0,0,0,.15);
}

@keyframes wapuugotchi-onboading__appear-animation{
	0%{
		transform:translateY(32px);

		box-shadow:
			0px 0px 2px 105vw rgba(0, 0, 0, 0),
			0 0.7px 1px rgba(0,0,0,.15),
			0 2.7px 3.8px -0.2px rgba(0,0,0,.15),
			0 5.5px 7.8px -0.3px rgba(0,0,0,.15),
			0.1px 11.5px 16.4px -0.5px rgba(0,0,0,.15);

	}
	to{
		transform:translateY(0);

		box-shadow:
			0px 0px 2px 105vw rgba(0, 0, 0, 0.35),
			0 0.7px 1px rgba(0,0,0,.15),
			0 2.7px 3.8px -0.2px rgba(0,0,0,.15),
			0 5.5px 7.8px -0.3px rgba(0,0,0,.15),
			0.1px 11.5px 16.4px -0.5px rgba(0,0,0,.15);
	}
}
