.wapuugotchi_onboarding_guide__control {
	margin: -1px 0 0 0;
	text-align: center;
	li {
		display: inline-block;
		margin: 0;
		button.components-button.has-icon {
			height: 30px;
			margin: -6px 0;
			min-width: 20px;
		}
	}
}
