#wapuugotchi_onboarding__overlay {
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	display: flex;
	position: fixed;
	z-index: 100000;
}

body.wp-admin {
	overflow: hidden;
}

.wapuugotchi_onboarding__dialog {
	overflow: auto;
	animation: wapuugotchi-onboading__appear-animation .2s ease-out;
	animation-fill-mode: forwards;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	box-shadow: 0px 0px 2px 105vw rgba(0, 0, 0, 0);
}

@keyframes wapuugotchi-onboading__appear-animation{
	0% {
		box-shadow: 0px 0px 2px 105vw rgba(0, 0, 0, 0);
	}
	to {
		box-shadow: 0px 0px 2px 105vw rgba(0, 0, 0, 0.35);
	}
}
