#wapuugotchi-submenu__shop {

	.wapuugotchi_shop__customizer {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;

		.wapuugotchi_shop__customizer_left {
			flex: 1;
		}

		.wapuugotchi_shop__customizer_right {
			flex: 1;
		}
	}
}
