.wapuugotchi_shop__header {
	top: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	gap: 12px;
	min-width: 100%;
	min-height: 28px;
	margin-bottom: 20px;

	h1.wapuugotchi_shop__title {
		display: flex;
		flex: 1;
		height: 28px;
		min-width: 396px;
		color: #1e1e1e;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		align-items: center;
	}

	span.wapuugotchi_shop__pearls {
		display: flex;
		flex: 1;
		flex-direction: row;
		justify-content: center;
		gap: 6px;
		width: 188px;
		min-width: 150px;
		height: 22px;
		max-width: 240px;
		padding: 3px 6px;
		color: #fff;
		background: #4ab866;
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		line-height: 16px;
		align-items: center;
		border-radius: 2px;
	}
}
