#wapuugotchi-submenu__shop {

	.wapuugotchi_shop__image {
		width: 100%;
		position: relative;

		.wapuu_show_room {
			width: 100%;

			svg {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
}
