name: Build plugin-zip

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '19.x'
      - name: Install dependencies and build
        run: |
          npm ci
          npm run build
      - name: Build plugin-zip
        run: |
          npm run plugin-zip
      - name: Release
        uses: softprops/action-gh-release@v0.1.15
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: wapuugotchi.zip
