name: CI

on:
  push:
    branches:
      - main
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        wpVersion: ['6.0', '6.1', '6.2'] 
        phpVersion: ['7.4', '8.0', '8.1']
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        id: cache-dist
        with:
          path: .
          key: ${{ github.sha }}
      - uses: actions/setup-node@v3
        with:
          node-version: '19.x'

      - name: Setup WordPress and our plugin
        run: | 
          npm ci
          npm run build 
          WP_ENV_CORE=wordpress/wordpress#${{ matrix.wpVersion }} WP_ENV_PHP_VERSION=${{ matrix.phpVersion }} npm run env start

      - name: Install playwright
        run: |
          npm install -D @playwright/test
          npx playwright install chromium
            
      - name: Run test
        run: |
          npx playwright test tests/addSource.test.js

      - name: Archive test artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: playwright-report
          path: |
            playwright-report
